h1 {
    color: red;
    text-align: center;  
}

#image-list {
    width: 50%;
    margin: 0 auto;
}

.thumbnail {
    width: 200px;
    cursor: pointer;
}

.column {
    float: left;
}

.frame {
    border: 1px solid white;
    padding: 4px;
    margin: 4px;
}

#modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    visibility: hidden;
    z-index: 900;
}

#modal-content {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    background-color: white;
    opacity: 1 !important;
    z-index: 999;
}

#title { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    font-size: 24px;
}

#image {
    width: 80%;
}
